---
- name: install dependencies
  apt: pkg={{ item }} state=installed
  with_items: "{{ matchbox_dep_pkgs }}"

- name: matchbox group
  group: name=matchbox state=present

- name: matchbox user
  user: name=matchbox state=present

- name: matchbox install path
  file: path="{{ matchbox_install_dir }}" state=directory owner="{{ matchbox_user }}" group="{{ matchbox_group }}" mode=0755

- name: download matchbox
  get_url: url="{{ matchbox_binary }}" dest=/tmp/matchbox.tar.gz

- name: unpack matchbox
  unarchive: src=/tmp/matchbox.tar.gz dest="{{ matchbox_install_dir }}"

- name: delete tmp matchbox download
  file: path=/tmp/matchbox.tar.gz state=absent

- name: install matchbox binary
  copy: src=/opt/{{ matchbox_archive_directory }}/matchbox dest=/usr/local/bin mode=100755

- name: etc matchbox
  file: path=/etc/matchbox/tls state=directory

- name: install generate-ca
  template:
    src: generate-ca.j2
    dest: /etc/matchbox/tls/generate-ca

- name: copy cert-gen
  copy: src="{{ role_path }}/files/cert-gen" dest=/etc/matchbox/tls/cert-gen mode="u+rwx,g-rwx,o-r"

- name: copy openssl.conf
  copy: src="{{ role_path }}/files/openssl.conf" dest=/etc/matchbox/tls/openssl.conf mode="u+rw,g-rw,o-r"

- name: generate ca
  script: /etc/matchbox/tls/generate-ca
  args:
    creates: /etc/matchbox/tls/server.key
    creates: /etc/matchbox/tls/server.crt
    creates: /etc/matchbox/tls/ca.crt
    creates: /etc/matchbox/tls/client.crt
    creates: /etc/matchbox/tls/client.key

- name: server cert install
  copy: src="/etc/matchbox/tls/{{item}}" dest=/etc/matchbox
  with_items:
    - ca.crt
    - server.crt
    - server.key

- name: client cert install
  file: path=~/.matchbox state=directory

- name: copy client certs
  copy: src="/etc/matchbox/tls/{{item}}" dest=~/.matchbox/
  with_items:
    - client.key
    - client.crt
    - ca.crt

- name: copy systemd init script
  copy: src=/opt/{{ matchbox_archive_directory }}/contrib/systemd/matchbox-local.service dest=/etc/systemd/system

- name: create matchbox assets directory
  file: path=/var/lib/matchbox/assets state=directory owner="{{ matchbox_user }}" group="{{ matchbox_group }}" mode=0755

- name: service for matchbox
  template:
    src: matchbox-local.service.j2
    dest: /etc/systemd/system/matchbox-local.service

- name: systemd service
  systemd: name=matchbox-local enabled=yes

- name: systemd reload
  systemd: daemon_reload=yes

- name: systemd start matchbox
  systemd: name=matchbox-local state=started

- name: downloading assets
  script: /opt/{{ matchbox_archive_directory }}/scripts/get-coreos stable "{{matchbox_coreos_version}}" /var/lib/matchbox/assets
  args:
    creates: "/var/lib/matchbox/assets/coreos/{{matchbox_coreos_version}}/coreos_production_pxe.vmlinuz"
    creates: "/var/lib/matchbox/assets/coreos/{{matchbox_coreos_version}}/coreos_production_image.bin.bz2"

- name: copy ipxe script
  template:
    src: ipxe.j2
    dest: /var/lib/tftpboot/ipxe

- name: restart tftpd
  systemd:
    state: restarted
    daemon_reload: yes
    name: tftpd-hpa

- name: download terraform
  get_url: url="{{ matchbox_terraform_binary }}" dest=/tmp/terraform.zip

- name: unarchive terraform
  unarchive:
    src: /tmp/terraform.zip
    dest: /usr/local/bin

- name: cleanup terraform download
  file: path=/tmp/terraform.zip state=absent

- name: get terraform provider matchbox
  get_url: url="{{matchbox_terraform_plugin}}" dest=/tmp/tpm.tar.gz

- name: unarchive terraform provider matchbox
  unarchive:
    src: /tmp/tpm.tar.gz
    dest: /tmp

- name: install terraform provide matchbox
  copy: src="/tmp/{{matchbox_terraform_plugin_archive_directory}}/terraform-provider-matchbox" dest=/usr/local/bin/terraform-provider-matchbox mode="u+rwx,g-rwx,o-r"
